@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Story+Script&display=swap');

.App{
    width: 90%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.App h1{
    font-family: "Story Script", sans-serif;
    font-size: 80px;
}

.container{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1.35fr 2fr;
    gap: 20px;
}